{% extends 'base.html' %}
{% load static %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center mb-4">Bienvenido al Panel de Administración</h2>
    <div class="row justify-content-center">
        <div class="col-md-4 col-sm-6 mb-3">
            <div class="card text-center p-3 shadow-sm">
                <h3 class="text-primary">Gestión de Productos</h3>
                <p>Administrar inventario, agregar y editar productos.</p>
                <a href="{% url 'product_management' %}" class="btn btn-primary">Ir a Gestión de Productos</a>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 mb-3">
            <div class="card text-center p-3 shadow-sm">
                <h3 class="text-primary">Gestión de Usuarios</h3>
                <p>Administrar permisos y roles de usuarios.</p>
                <a href="{% url 'user_management' %}" class="btn btn-primary">Ir a Gestión de Usuarios</a>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 mb-3">
            <div class="card text-center p-3 shadow-sm">
                <h3 class="text-primary">Gestión de Ventas</h3>
                <p>Ver y generar reportes de ventas.</p>
                <a href="{% url 'report_dashboard' %}" class="btn btn-primary">Ir a Gestión de Ventas</a>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 mb-3">
            <div class="card text-center p-3 shadow-sm">
                <h3 class="text-primary">Modo Cashier</h3>
                <p>Acceso rápido al modo cajero para ventas.</p>
                <a href="{% url 'cashier_dashboard' %}" class="btn btn-primary">Ir a Modo Cashier</a>
            </div>
        </div>
    </div>

    <div class="text-center mt-4">
        <a href="{% url 'logout' %}" class="btn btn-danger">Cerrar Sesión</a>
    </div>
</div>
{% endblock %}
