{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Cerrar Caja</h2>
    <p><strong>Fecha de Apertura:</strong> {{ caja_abierta.fecha_apertura|date:"d/m/Y, H:i" }}</p>
    <p><strong>Efectivo Inicial:</strong> ${{ caja_abierta.efectivo_inicial }}</p>
    <p><strong>Total en Efectivo:</strong> ${{ total_efectivo }}</p>
    <p><strong>Total Tarjeta de Crédito:</strong> ${{ total_credito }}</p>
    <p><strong>Total Tarjeta de Débito:</strong> ${{ total_debito }}</p>
    <p><strong>Total de Ventas:</strong> ${{ total_ventas }}</p>
    <p><strong>Vuelto Entregado:</strong> ${{ vuelto_entregado }}</p>
    <p><strong>Efectivo Final en Caja:</strong> ${{ efectivo_final }}</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Cerrar Caja</button>
    </form>
</div>
<div>
    <a href="{% url 'cashier_dashboard' %}" class="btn btn-secondary mt-3">Volver a cajero</a>
</div>
{% endblock %}

