{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Cerrar Caja</h2>
    <p><strong>Fecha de Apertura:</strong> {{ caja_abierta.fecha_apertura }}</p>
    <p><strong>Total en Efectivo:</strong> ${{ caja_abierta.total_efectivo }}</p>
    <p><strong>Total Tarjeta de Crédito:</strong> ${{ caja_abierta.total_tarjeta_credito }}</p>
    <p><strong>Total Tarjeta de Débito:</strong> ${{ caja_abierta.total_tarjeta_debito }}</p>
    <p><strong>Total de Ventas:</strong> {{ caja_abierta.total_ventas }}</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Cerrar Caja</button>
    </form>
</div>
<div>
    <a href="{% url 'cashier_dashboard' %}" class="btn btn-secondary">Volver a cajero</a>
</div>
{% endblock %}
